html, body {
 	margin:0;
 	padding:0;
 	min-width: 1903px;
}
.container{
	width: 100%;
	height: 44px;
	background-color: black;
}
.photo_container{
	margin-top: 15.3px;
	margin-left:406px;
}
.text_container{
	width: 355px;
	color:gray;
	font-size: 12px;
	margin-left:16.31px;
}
.exit_container{
	margin-left: 594.75px;
}
.block_entry_container{
	margin-left: 1400px;
	margin-top:-18px;
}
.entry_container{
	font-size:12px;
	text-decoration: none;
	color:gray;
}
.shapka{
	display: flex;
    align-items: center;
	width: 100%;
	height: 80px;
	background-color: #0F0F0F;
}
.text_shapka{
	font-size:36px;
	color:#FFFFFF;
	margin-left: 405px;
}
.button_shapka{
	width: 116px;
	height: 80px;
	border: none;
	background-color:transparent;
	color:gray;
	font-size:14px;
	margin-left:469px;
}
.action:hover{
	color:#ffffff;
	background-color: #1F1F1F;
	transition: 0.5s;
}
.button_shapka2{
	width: 159px;
	height: 80px;
	border: none;
	background-color:transparent;
	color:gray;
	font-size:14px;
}
.button_shapka3{
	width: 118px;
	height: 80px;
	border: none;
	background-color:transparent;
	color:gray;
	font-size:14px;
}
.buy_shapka{
	margin-left: 122px;
}
.search_shapka{
	margin-left: 41.83px;
}
.logo_main{
	padding-top:10px; 
	width: 100%;
	height: 800px;
	background:url("../img/main_photo.png");
	background-repeat:no-repeat;
}
.rect_logo_main{
	width: 320px;
	height: 320px;
	margin-left:800px;
	margin-top: 160px;
	border: 4px solid #FFFFFF;
	box-sizing: border-box;
}
.logo_text_main{
	font-size:50px;
	color:#ffffff;
	margin-top: 93px;
	margin-left:60px;
}
.line{
	width:200px;
	border:1px solid #ffffff;
	margin-left:60px;
	margin-top:-30px;
}
.under_logo_main{
	color:#ffffff;
	font-size:22px;
	margin-left:60px;
	margin-top:200px;
}
.text_under_rect{
	width: 730px;
	height: 96px;
	text-align: center;
	font-size:16px;
	font-family: PT Sans;
}
.on_text_rect{
	margin-left:595px;
	margin-top:80px;
	color:#ffffff;
}
.shop{
	overflow: hidden;
	float: left; 
	width:1040px;
	height: 730px;
	background-color:black; 
}
.main_text_shop{
	width: 376px;
	height: 39px;
	margin-left: 332px;
	margin-top: 93px;
	color:#ffffff;
}
.line_shop{
	width: 100px;
	border: 1px solid #FFFFFF;
	margin-left:470px;
	margin-top:50px;
}
.main_catalog_shop{
	margin-top: 50px;
	margin-left: 30px;
}
.catalog_shop{
	width: 260px;
	height: 405px;
	margin-left:50px;
	float: left;
}
.item_shop{
	width: 260px;
	height: 325px;
	background-color:#191B1C;
}
.img_shop{
	padding:55px 23px;
}
.text_shop{
	margin-top:25px;
	color:#ffffff;
}
.price_shop{
	margin-top: 10px;
}
.new_collection{
	float: left;
	width:863px;
	height: 730px;
	background-image:url("../img/Rectangle 8.png") 
}
.text_collection{
	margin-left:252px;
	margin-top:484px;
	font-size: 36px;
	color:white;
}
.line_collection{
	width:120px;
	border: 1px solid #FFFFFF;
	margin-left: 381px;
}
.button_collection{
	width: 138px;
	height: 47px;
	margin-left:372px;
	margin-top:30px;
	background-color:transparent;
	border:1px solid white;
	color:white;
	font-size:18px;
}
.block_img{
	float: left;
	width: 880px;
	height: 600px;
}
.info_collection{
	float: left;
	width:1023px;
	height: 600px;
	background-color:black; 
}
.block_collection_info{
	width:471px;
	height: 388px;
	margin-left: 285px;
	margin-top:100px;
}
.main_text_collection_info{
	text-align:center;
	color:white;
	font-size:18px;
}
.line_info_collection{
	width: 120px;
	border:1px solid white;
	margin-left:175px;
}
.main_info{
	margin-top:50px;
	text-align: center;
	color:white;
	font-size: 14px;
}
.button_info{
	width: 311px;
	height: 47px;
	margin-left:80px;
	margin-top:70px;
	border:1px solid white;
	background-color:transparent;
	font-size:18px;
	color:white;
}
.new{
	float: left;
	width:100%;
	height:1289px;
	background-color:black; 
}
.main_text_new{
	margin-left:740px;
	margin-top:120px;
	color:white;
	font-size:36px;
}
.line_new{
	width: 120px;
	border:1px solid white;
	margin-left:900px;
	margin-top:40px;
}
.catalog_new{
	width: 999px;
	height: 850px;
	margin-top:81px;
	margin-left:465px;
}
.first_footer{
	width: 100%;
	height: 362px;
	float:left;
	background-color:#0F0F0F;
 
}
.main_text_footer{
	font-size: 36px;
	margin-top:60px;
	margin-left:816px;
	color:white;
}
.img_footer{
	margin-top:40px;
	margin-left:375px;
}
.block_img_footer{
	margin-left:30px;
}
.second_footer{
	background-image:url("../img/Rectangle 15.png");
	float: left;
	width: 100%;
	height: 400px;
}
.text_second_footer{
	float: left;
	margin-left:405px;
	margin-top:80px;
}
.main_text_second_footer{
	color:white;
	font-size:24px;
}
.main_text_second_footer_2{
	width: 350px;
	height: 147px;
	font-size:14px;
	color:white;
}
.catalog_second_footer{
	margin-left:30px;
	margin-top:80px;
	float:left;
}
.block_text_second_footer{
	color:white;
	font-size:24px;
}
.block_main_text_second_footer_2{
	width:287px;
	margin-top:40px;
}
.watch_second_footer{
	width: 70px;
	height: 41px;
	color:white;
	background-color:#0F0F0F;
 	border:none;
 	float: left;
}
.bracelets{
	width: 98px;
	height: 41px;
	color:white;
	background-color:#0F0F0F;
 	border:none;
 	float: left;
}
.bracelets{
	margin-left: 20px;
	width: 98px;
	height: 41px;
	color:white;
	background-color:#0F0F0F;
 	border:none;
 	float: left;
}
.belts{
	margin-left: 20px;
	width: 79px;
	height: 41px;
	color:white;
	background-color:#0F0F0F;
 	border:none;
 	float: left;
}
.jewelry{
	margin-top:20px;
	width:164px;
	height: 41px;
	color:white;
	background-color:#0F0F0F;
 	border:none;
 	float: left;
}
.cufflinks{
	margin-left: 20px;
	margin-top:20px;
	width:91px;
	height: 41px;
	color:white;
	background-color:#0F0F0F;
 	border:none;
 	float: left;
}
.catalog_third_footer{
	margin-left:92px;
	margin-top:80px;
	float:left;
}
.block_main_text_third_footer_2{
	width:352px;
	height: 42px;
	margin-top:40px;
	color:white;
	font-size: 14px;
}
.input{
	width: 210px;
	height: 42px;
	margin-top:37px;
	background-color:rgba(255, 255, 255, 0,4);
	opacity: 0.2;
	border:none;
}

.button_footer{
	width: 140px;
	height: 41px;
	background-color:black;
	border:none;
	color:white;
}
.footer{
	width:100%;
	height: 50px;
	background-color:black;
	float:left;
}
.text_footer{
	margin-left:405px;
	margin-top:17px;
	color:rgba(208, 208, 208, 1);
	font-size:14px;
}
.text_footer_last{
	margin-top: -17px;
	margin-left:1360px;
	color:rgba(208, 208, 208, 1);
	font-size:14px;
}